    *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
        
    }

    
    html{
        scroll-behavior:smooth;
    }

    p{
        color:rgb(85,85,85);
    }

    /* TRANSITION */
    a,.btn{
        transition:all 300ms ease;
    }

    /* DESKTOP NAV */
    nav,.nav-links{
        display:flex;
        
    }
    nav{
        height:17vh;
        align-items:center;
        justify-content:space-around;
    }

    .nav-links{
        gap:2rem;
        list-style:none;
        font-size:1.5rem;
    }

    a{
        color:black;
        text-decoration:none;
        text-decoration-color:white;
    }

    a:hover{
        color:grey;
        text-decoration:underline;
        text-underline-offset:1rem;
        text-decoration-color:rgb(181,181,181);
    }
    .logo{
        font-size:2rem;
    }

    .logo:hover{
        cursor:default;
    }


    /* HAMBURGER MENU */

    #hamburger-nav{
        display:none;
    }
    /* #hamburger-nav{
        height:400px;
        width:900px;
        border:2px solid black;
    }

    .logo{
        border:2px solid black;
    }

    .hamburger-menu{
        height:200px;
        width:400px;
        border:2px solid black;
    } */


    .hamburger-menu{
        position:relative;
        display:inline-block;
    }

    .hamburger-icon {
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        height:24px;
        width:30px;
        /* border:2px solid black; */
        cursor:pointer;
    }

    .hamburger-icon span{
        width:100%;
        height:2px;
        background-color:black;
        transition:all 0.3 ease-in-out;
    }

    .menu-links{
        position:absolute;
        top:100%;
        right:0;
        background-color:white;
        overflow:hidden;
        width:fit-content;
        max-height:0; 
        transition:all 0.3 ease-in-out;
        
    }

    .menu-links a{
        display:block;
        padding:10px;
        text-align:center;
        font-size:1.5rem;
        /* color:black; */
        text-decoration:none;
        transition:all 0.3 ease-in-out;

    }
    .menu-links li{
        list-style:none;

    }

    .menu-links.open{
        max-height:300px;
    }

    .hamburger-icon.open span:first-child{
        transform:rotate(45deg) 
        translate(10px,5px);
    }

    .hamburger-icon.open span:nth-child(2){
        opacity:0;
    }
    .hamburger-icon.open span:last-child{
        transform:rotate(-45deg) 
        translate(10px,-5px);
    }

    .hamburger-icon span:first-child{
        transform:none;
    }
    .hamburger-icon span:first-child{
        opacity:1
    }

    .hamburger-icon span:first-child{
        transform:none;
    }

    /* .section__pic-container{
        height:100px;
        width:100px;
        border:2px solid black;
    } */

    section{ 
        padding-top: 4vh;
        height: 96vh;
         margin: 0 10rem;
       /* box-sizing: border-box; */
        min-height: fit-content;
        

        /* mine  next four lines last two stays commented out*/
        /* height:96vh;
        width:600px; */
        /* border:2px solid black; */
        /* min-height:fit-content;  */
    } 
    
    #profile{
        display:flex;
        justify-content:center;
         gap:3rem; 
        height:80vh;
     
     }

     .section_container{
        display:flex;
        /* border:4px solid red; */
        justify-content:center;
        gap:5rem;
        
     }
    
     
     .section_pic_container{
        height:400px;
        width:400px;
        /* border:2px solid yellow; */
        display:flex;
        margin:auto 0;
        position:relative;
        margin-top:100px;

    }
    
    .section_pic_container #image{
        object-fit:cover; 
        height:350px;
        width:350px;
        border-radius:50%;
        position:absolute;
       
    }


    /* BELOW IS MINE SECTION TEXT CODE */
    .section_text{
        /* display:flex; */
        /* flex-direction:column; */
        /* justify-content:center; */
        /* align-items:center; */
        /* height:300px; */
        /* width: 600px; */
        /* margin-top:40px; */
        /* min-width:fit-content; */
        /* border:2px solid black; */
       
    }

    /* BELOW IS COPIED MINE-SECTION TEXT */
    .section_text{
        margin-top:-35px;
        align-self:center;
        text-align:center;
    }
    
    .section_text p{
        font-weight:600;
      
    }

    .section_text_p1{
        text-align:center;
        /* below two is mine and above copied and fitting */
        font-size:1rem;
        /* margin-bottom:0.5rem; */
    }
    

    .section_text_p2{
        font-size:1.5rem;
        margin-bottom:1rem;
    }
    .title{
        font-size:2.7rem;
        text-align:Center;
        letter-spacing:3px;
    }
    
    #socials_container{
        display:flex;
        justify-content:center;
        margin-top:1rem;
        gap:1rem; 
    }

    #socials_container img{
        height:30px;
        width:30px;
    }

    /* ICONS */
    .icon{
        cursor:pointer;
        height:2rem;
    }

    /* BUTTONS */
    .btn_container{
        /* height:200px;
        width:200px; */
        /* border:2px solid black; */
        display:flex;
        justify-content:center;
        gap:1rem;

    }

    .btn{
        font-weight:600;
        transition:all 300ms ease;
        padding:0.7rem;
        width:7rem;
        min-width:fit-content; 
        border-radius:2rem;
    }

    .btn-color-1,.btn-color-2{
        border:rgb(53, 53, 53) 0.1rem solid;
    }

    .btn-color-2{
        background-color:rgb(61, 60, 60);
        color:white;
    }

    .btn-color-2:hover{
        background:black;
    }

    .btn-color-1:hover{
        cursor:pointer;
        background-color:rgb(44, 43, 43);
        color:white;
    }

    
    .about_pic{
        /* border:2px solid grey */
    }

    .about_pic:hover{
        transform: scale(1.2);
        transition:0.3s all linear;
        box-shadow:2px 2px 14px  rgba(222, 217, 217, 0.644);
    }
    
    /* .section_pic_container ye add krne se background color show nahi horha why */
     #about_image{
        /* border:2px solid black; */
        height:340px;
        width:340px;
        border-radius:50%;
        object-fit: cover;
        min-width:fit-content;
        background-color: rgba(222, 217, 217, 0.644);
        
    }

    /* .about_details_container{
        border:7px solid black;
    }

    .about_containers{
        border:4px solid rgb(181, 12, 12);
    }
    
    .details_container{
        border:4px solid yellow;
    }

    */
    .desc_container{ 
        /* border:4px solid green; */
        /* height:20%;
        width:100%; */
        width:100%;
        /* text-overflow: ellipsis; */
        
    } 

    section{
        /* border:2px solid pink; */
    }
    #about {
        position: relative;
    }
      
    .about_containers,
    .about_details_container {
        display: flex;
    }

      
    .about_details_container {
        height:500px;
        width:700px;
        margin-top:30px;
        /* border:2px solid purple; */
        justify-content: center;
        flex-direction: column;
        /* height:70%;
        width:60%; */

    }
      
    .about_containers {
        /* border:4px solid orange; */
        gap: 2rem;
        margin-bottom: 2rem; 
        margin-top: 2rem; 
    } 
    
    .arrow {
        height:25px;
        width:25px;

        position: absolute;
        left:1165px;
        bottom:50px;
        
      }
      
    .details_container {
        box-sizing:border-box;
        padding: 1.5rem;
        flex:1;
        height:200px;
        background: white;
        border-radius: 2rem;
        border: rgb(163, 163, 163) 0.1rem solid;
        text-align: center;
        /* display:flex; */
        /* isko display:flex krne se about vala bigad raha */
        
      }
      
    .section_container {
        /* border:4px solid goldenrod; */
        /* gap: 4rem; */
        height: 100%;
      }

      
      /* EXPERIENCE SECTION */
      .about_details_containers{
        /* border:4px solid rgb(125, 209, 15); */
      }
      .about_containers{
       
        /*  border:4px solid rgb(224, 8, 112); */
      }

      .details_containers{
        /* border:2px solid gray;
        border-radius:20px;
        height:350px;
        display:flex;
        flex-direction:column;
        justify-content: center */
        /* gap:1rem; */
        padding: 1.5rem;
        flex: 1;
        height:400px;
        background: white;
        border-radius: 2rem;
        border: rgb(163, 163, 163) 0.1rem solid;
        text-align:center;
       
      }

      /* NOTE: DETAILS_CONTAINERS AND DETAILS_CONTAINER BOTH ARE DIFFERENT */
    
      #experience{
        position:relative;
      }

      .exp_subtitle{
        text-align:center;
        color:rgb(85,85,85);
        font-weight:600;
        font-size:1.75rem;
        margin-bottom:2rem;

      }

     
      .exp_details_cont{  /* useless div  along with about_details_containers dono ko ek hi hona tha*/
        /* border:2px solid magenta; */
        display:flex;
        justify-content:center;
        flex-direction:column;
      }

       .article_container {
        /* border:5px solid rgb(18, 101, 18); */
        display: flex;
        text-align: initial;
        flex-wrap: wrap;
        gap: 2.5rem;
        justify-content: space-around;
      }
      
      article {
        display: flex;
        width: 10rem;
        /* border:2px solid red; */
        justify-content: flex-start;
        gap: 0.5rem;
      }
      
      
      article .icon {
        cursor: default;
      }

      #projects{
        position:relative;

      }

      .project-img{
        height:85%;
        width:85%;
        border-radius:2rem;
        
      }

      .color_container{
        background:white;
        height:430px;
        
      }

      .article_container{
        /* border:2px solid orange; */
      }

   

      /* COPIED */
    
      
      .project-title {
        margin: 1rem;
        font-size:20px;
        color: black;
      }
      
      .project-btn {
        color: black;
        border-color: rgb(163, 163, 163);
        background-color: white;
      
      }

      .project-btn:hover{
        background-color: rgba(173, 167, 167, 0.495);
        border:2px solid rgb(255, 255, 255);
        transform:scale(1.1);
        transition:.3s linear;
      }

      /* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    /* border:2px solid red; */

    
  }

  /* #contact :first-child {  
    this means that contact id me jitme bhi first child hai
     
    color:yellow;
  }  */

 

  #contact p:first-child {  
   /* this means that contact id me jitme bhi p first child hai
    */
   /* color:yellow;
   border:2px solid pink; */
   /* margin-top:-50px; */
 }


.contact_info_container{
    /* border:2px solid brown; */
    /* width:600px; */
    
    display:flex;
    justify-content: center;
    border: rgb(138, 135, 135) 0.1rem solid;
    border-radius: 2rem;
    margin: 2rem auto;
    /* margin:150px auto; */
    padding: 0.5rem;
    
  }
  
  .contact_info{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:2px solid maroon; */
    gap: 0.5rem;
    margin: 1rem;
  }
  
  .contact_info_container p {
    font-size: larger;
  }
  
  .contact-icon {
    cursor: default;
  }
  
  .email-icon {
    height: 2.3rem;
  }
  
  /* FOOTER SECTION */
  
  footer {
    /* border:2px solid yellowgreen; */
    height: 26vh;
    margin: 0 1rem;
  }
  
  footer p {
    text-align: center;
  }

  .contact_info a:hover{
    text-decoration: none;
    transition:.3s linear;
  }


  /* Why is this not working*/
  .contact_info a:hover p{
    transform:scale(1.2);
  }

.paragraph{
    color:red;
}

p{
    color:green;
}
    
    
  
        

 

    


      
    